{% extends 'main/base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block header %}
    {% include 'main/block/header.html' %}
{% endblock %}

{% include 'main/includes/messages.html' %}


{% block content %}
<section class="my-article-detail">
    <div class="row justify-content-center">
        <div class="col-4">
            <!--    ЭТО ТЕЛО ПОСТА -->
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button type="submit" class="btn btn-primary">Подтвердить</button>
                <a class="btn btn-outline-primary" href="{% url 'profile_detail' request.user.profile.slug %}">Отмена</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}




