{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}



{% block title %} Изменение пароля{% endblock %}

{% block header %}
    {% include 'users/block/edit_password_header.html' %}
{% endblock %}



{% block content %}
        <<div class="text-center">
            <br>
            <p class="lead">Для регистрации укажите имя пользователя и пароль</p>
            <div class="col-md-4 mb-3 mx-auto">

                    <form method="post" class=class="form-signin">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <input class="btn btn-outline-primary" type="submit" value="Обновить">
                        <a class="btn btn-outline-secondary" href="{% url 'profile' %}">Отмена</a>

                    </form>
            </div>
        </div>
{% endblock %}