{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<section class="my-footer mt-3">
</svg>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-sm-12 my-3">
        <span class="text-body-secondary">&copy; 2023 Это просто новости нашего города</span>
      </div>
      <div class="col-lg-3 col-sm-12 my-3 d-flex justify-content-end">
        <ul class="nav list-unstyled">
          <li class="ms-2"><a class="text-end" href="#">Наверх</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>