{% load static %}
<section class="my-carousel">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-color: #B0C4D9!important">
            <div class="carousel-caption d-none d-md-block">
                <h1>
                  {% if article.h1 %}
                    {{ article.h1 }}
                  {% else %}
                    {{ title }}
                  {% endif %}
                </h1>
            </div>
        </div>
    </div>
  </div>
</section>


<!--<form method="post" action=".">-->
<!--    {% csrf_token %}-->
<!--    <div class="form-group">-->
<!--        <label for="title"> Название статьи </label>-->
<!--        <! - Укажите начальное значение текстового поля в атрибуте value для старого содержимого, то есть поля заголовка-->
<!--        в объекте статьи ->-->
<!--        <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="body"> Текст статьи </label>-->
<!--        <! - Текстовое поле не требует атрибута value, просто вставьте данные прямо в тело метки ->-->
<!--        <textarea type="text" class="form-control" id="body" name="body" rows="12">{{ article.body }}</textarea>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary"> Готово</button>-->
<!--</form>-->
